--index-url https://pypi.bmogc.net

pandas~=1.3.4
dask[complete]
numpy
pyodbc
pymssql
pytest
allure-pytest
pytest-html
pytest-json
pytest-json-report
openpyxl
xlrd
pyspark
xlsx2csv
beautifulsoup4
html5lib
awscli
botocore
boto3
dask[complete]
csv-diff
cx_oracle





